/* -- VARIABLES and GLOBAL SETTINGS -- */

:root {
    --c-bg-light: #fff;
    --c-bg: #f9f3ed;
    --c-bg-pop: #b3492f;
    --c-wood: #764a24;
    --c-border: #7d0000;
    --c-text-light: #777;
    --c-text-pop: #821500;
    --c-text: #333;
    --c-text-pop-light: var(--c-bg);
    --c-text-head: #121212;/*#f8d2ad; /*#faf5de;*/

    --em-margin: 1.5rem;
    --em-spacing: 1.25em;

    --em-border-small: 0.1rem;
    --em-border-large: 0.25rem;
    --c-border: var(--c-bg-pop);
    --border-small: var(--em-border-small) solid;
    --border-large: var(--em-border-large) solid;
    --em-border-radius: 0.4rem;

    --fs-smaller: 0.85rem;
    --ff-sans: Helvetica,Arial,sans-serif;
    --f-head: bold 1.5rem var(--ff-sans);
    --f-small-head: var(--fs-smaller) var(--ff-sans);
    --f-serif: 1rem Palatino;
    --f-mono: 0.8rem Courier New;
}

html {
    box-sizing: border-box;
    background-color: var(--c-bg);
    font-size: 18px;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none outside none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* -- CHROME -- */

body {
    margin: 0;
    font: var(--f-serif);
    color: var(--c-text);
    line-height: 1.5;

    display: grid;
    grid-template-rows: [header] auto [main] 1fr;
    min-height: 100vh;
}


/* -- HEADER -- */

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    grid-row: header;
    padding: var(--em-margin);
    color: var(--c-text-pop);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home {
    text-decoration: none;
    font-family: var(--ff-sans);
    font-size: 1.25rem;
    line-height: 1;
    min-width: max-content;
    color: inherit;

    padding: 0 0.25em 0.15em 0.4em;
    line-height: 1;
    border-radius: 0.15em;
    border-left: var(--border-small);
}

.home:visited {
    color: inherit;
}

.links {
    font-size: var(--fs-smaller);
    display: flex;
    color: var(--c-text-light);
}

.v-sep {
    margin: 0 0.5rem;
    border-right: var(--em-border-small) solid;
}

.github,
.email,
.email:visited,
.github:visited {
    color: inherit;
}

@media screen and (max-width: 900px) {
    nav {
        flex-direction: column;
        justify-content: center;
    }

    .home {
        border-right: var(--border-small);
        margin-bottom: 0.25rem;
    }
}


/* -- MAIN -- */

main {
    z-index: 2;
    color: var(--c-text);
    height: 100%;
    grid-row: main;
    padding: var(--em-margin);
    background-color: var(--c-bg-light);
    box-shadow: 0.15em 0.15em 1em 0 #33333333;
}

@media screen and (max-width: 900px) {
    main {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


/* -- HEADING -- */

.heading {
    font: var(--f-head);
    color: var(--c-text-pop);
}


/* -- GENERAL -- */

.dot-sep {
    font-size: 0.75rem;
    color: var(--c-text-light);
}
