/* -- ARTICLE -- */

article {
    margin: auto;
    max-width: max-content;

    display: grid;
    grid-template-areas: "header content";
    grid-column-gap: 3rem;
}

.date,
.article-content p,
.article-content figure {
    margin-bottom: var(--em-spacing);
}

.article-header {
    text-align: right;
    grid-area: header;
    max-width: 15rem;
    padding-top: 0.25em;
    border-top: var(--border-large);
    border-color: var(--c-text-pop);
}

.heading {
    margin-bottom: 1rem;
}

.date {
    font-style: italic;
    display: inline;
    color: var(--c-text-light);
    font-size: var(--fs-smaller);
}

.article-content {
    grid-area: content;
    max-width: 30rem;
}

@media screen and (max-width: 900px) {
    article {
        grid-template-areas: "header" "content";
    }

    .article-header {
        text-align: left;
        border: none;
        max-width: 30rem;
        margin-bottom: var(--em-spacing);
    }
}


/* -- BYLINE -- */

.byline {
    display: inline;
    color: var(--c-text-light);
    font-size: var(--fs-smaller);
}


/* -- CODE BLOCK -- */

.snippit {
    border: var(--border-small);
    border-color: var(--c-bg-pop);
    border-radius: 0.5rem;
    overflow: hidden;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0.2rem 0.2rem 0.75rem -3px #0000004d;
    background-color: var(--c-bg-light);
    min-width: 15rem;
}

.caption {
    padding: 0.45em 1em;
    background: var(--c-bg-pop);
    color: var(--c-text-pop-light);
    font: var(--f-small-head);
}

.code {
    margin: 0 1rem 1rem;
    display: inline-block;
    counter-reset: line;
    font: var(--f-mono);
}

.line {
    line-height: 1.5em;
}

.line::before {
    counter-increment: line;
    content: counter(line);
    color: var(--c-text-light);
    margin: 0 2em 0 1em;
}
